<div id="dashboard-project" class="page-layout simple right-sidenav  layout-row" layout="row">
  <!-- CENTER -->
  <div class="center ms-scroll flex ps-container ps-theme-default ps-active-y" flex="" ms-scroll="" data-ps-id="f647bc0f-e929-2314-4138-c467f4188cb9">
    <!-- WIDGET GROUP -->
    <div class="widget-group" layout="row" flex="100" layout-wrap>
      <!-- WIDGET 2 -->
      <ms-widget flippable="false" layout="column" flex="100" flex-gt-md="100">
        <!-- Front -->
        <ms-widget-front class="white-bg">
          <div class="p-16" layout="row" layout-align="space-between center">
            <div class="h3">{{vm.maps.title}}</div>
          </div>
          <div class="form-wrapper">
            <form name="selecccionForm" class="md-inline-form " novalidate="">
              <div layout="column" layout-gt-sm="row" class="layout-gt-md-row layout-column">
                <md-input-container flex="" class="md-icon-float md-default-theme flex">
                  <label>Dispositivos</label>
                  <md-select ng-model="vm.selectedDispositivos" multiple>
                    <md-option ng-value="topping.id_dispositivo" ng-repeat="topping in vm.dispositivos">{{topping.nombre}}</md-option>
                  </md-select>
                </md-input-container>

                <md-input-container flex="" class="md-icon-float md-default-theme flex" >
                    <div flex-gt-xs>
                      <md-radio-group ng-model="vm.tipo" class="md-primary" ng-init="vm.tipo = 1" >
                        <md-radio-button ng-value="1"> Intervalos<br/> </md-radio-button>
                          <md-radio-button ng-value="2"> Fechas <br/> </md-radio-button>
                      </md-radio-group>
                    </div>
                </md-input-container>

                <div ng-show="vm.tipo == 2">
                    <md-input-container flex="" class="md-icon-float md-default-theme flex">
                        <div flex-gt-xs>
                          <md-datepicker ng-model="vm.dateInicio" md-placeholder="Fecha inicio" md-open-on-focus></md-datepicker>
                        </div>
                      </md-input-container>
                      <md-input-container flex="" class="md-icon-float md-default-theme flex">
                        <div flex-gt-xs>
                          <md-datepicker ng-model="vm.dateFin" md-placeholder="Fecha Fin" md-open-on-focus></md-datepicker>
                        </div>
                      </md-input-container>
                </div>

                <div ng-show="vm.tipo == 1">
                    <md-input-container flex="" class="md-icon-float md-default-theme flex">
                        <label>Intervalo</label>
                        <md-select ng-model="vm.selectedIntervalo">
                          <md-option ng-value="15" ng-init="vm.selectedIntervalo = 15 ">Últimos 15 minutos</md-option>
                          <md-option ng-value="60">Última hora</md-option>
                          <md-option ng-value="120">Últimas 2 horas</md-option>
                          <md-option ng-value="240">Últimas 4 horas</md-option>
                          <md-option ng-value="1440">Último día</md-option>
                        </md-select>
                      </md-input-container>
                </div>

                <md-input-container flex="" class="md-icon-float md-default-theme flex" >
                  <md-button class="md-raised md-primary"  ng-click="vm.refreshWidget()" aria-label="Refresh widget">
                    Actualizar
                  </md-button>
                </md-input-container>
              </div>
            </form>
          </div>
          <div>
            <div class="map-wrapper">
              <ui-gmap-google-map center="vm.maps.map.center" zoom="vm.maps.map.zoom" options="vm.maps.map.options">
                <ui-gmap-markers models="vm.maps.map.markers" coords="'coords'">
                  <ui-gmap-windows show="show">
                    <div ng-non-bindable>
                      <p>
                        <strong>{{labels.fecha | date:'dd-MM-yyyy HH:mm:ss'}}</strong>
                      </p>
                      <p>Lat: {{coords.latitude}}
                        <br> Log: {{coords.longitude}}</p>
                    </div>
                  </ui-gmap-windows>
                </ui-gmap-markers>
              </ui-gmap-google-map>
            </div>

            <style>
              .map-wrapper {
                position: relative;
                height: calc(90vh - 4em - 64px);
              }

              .angular-google-map-container {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                height: 100%
              }

              md-input-container {
                padding: 0px !important;
                margin: 0px !important;
              }

            </style>
          </div>
        </ms-widget-front>
        <!-- / Front -->
      </ms-widget>
      <!-- / WIDGET 2 -->
    </div>
    <!-- / WIDGET GROUP -->
  </div>
  <!-- / CENTER -->

</div>
